@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* D3-DAG node ve link animasyonları */
svg path {
  transition: all 0.3s ease-in-out;
}
svg g {
  transition: transform 0.3s ease-in-out;
}
svg rect, svg circle {
  transition: all 0.3s ease-in-out;
}
